<% include ./partials/header %>
<section class="product">
    <div class="container">
        <h2 class="product_title">NEW ITEMS</h2>
        <% newProducts.forEach(function(product){ %>
            <div id="<%= product.id %>" class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="<%= product.image %>" class="card-img" alt="Image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h2 class="card-title"><%= product.title %></h2>
                            <p class="card-text"><span class="property">Packaging Size</span><span class="value"><%= product.pSize %></span></p> 
                            <p class="card-text"><span class="property">Brand Available</span><span class="value"><%= product.brand %></span></p>
                            <p class="card-text"><span class="property">Variety</span><span class="value"><%= product.variety %></span></p>
                            <p class="card-text"><span class="property">Color</span><span class="value"><%= product.color %></span></p>
                            <p class="card-text"><span class="property">Type</span><span class="value"><%= product.type %></span></p>
                            <p class="card-text"><span class="property">Price Range</span><span class="value"><%= product.price %></span></p>   
                            <a class="btn btn-secondary" href="#">Order Now</a>    
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>  
    </div>
</section>

<section class="footer_space"></section>


<% include ./partials/footer %>